.input-container {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
}

.input-container label {
  margin-bottom: 10px;
}

.input-container input {
  border-width: 0;
}

.input-container input:focus-visible {
  outline: 0px;
}
