.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-container .content {
  display: flex;
  justify-content: center;
  width: 50%;
}
